// min page width
$page-min-width: 280px;

// font
$font-default: '맑은고딕', 'Malgun Gothic', '돋움', Dotum, 'Apple Gothic',
  sans-serif;
$font-spoqa-han-sans-neo: 'Spoqa Han Sans Neo';

// colors
$color-black: #15181f;
$color-white: #fff;

$color-semantic-essential: #f64a4a;
$color-semantic-warning: #ffa514;
$color-semantic-positive: #42a946;
$color-semantic-accent: #0091ea;

$color-blue-10: #a2c7ff;
$color-blue-20: #89b1fe;
$color-blue-30: #5a92f4;
$color-blue-40: #2e82f3;
$color-blue-50: #3a81e0;
$color-blue-60: #0168fe;
$color-blue-70: #203ccf;
$color-blue-80: #011dbb;
$color-blue-90: #0119a1;

$color-gray-05: #f9f9f9;
$color-gray-10: #f5f6f6;
$color-gray-15: #f3f3f3;
$color-gray-20: #eaeaea;
$color-gray-30: #e0e0e0;
$color-gray-40: #bdbdbd;
$color-gray-50: #9e9e9e;
$color-gray-60: #8f8f8f;
$color-gray-70: #757575;
$color-gray-80: #666666;
$color-gray-90: #424242;

$color-green-10: #9bede9;
$color-green-20: #2ad6ce;
$color-green-30: #20c7bf;
$color-green-40: #05b0a8;
$color-green-50: #00a69e;
$color-green-60: #088e88;
$color-green-70: #047c77;
$color-green-80: #056965;
$color-green-90: #065956;

$color-navy-10: #82a3d2;
$color-navy-20: #5478ac;
$color-navy-30: #295697;
$color-navy-40: #0c408c;
$color-navy-50: #143b75;
$color-navy-60: #06316f;
$color-navy-70: #06295a;
$color-navy-80: #032049;
$color-navy-90: #071933;

$color-pink-10: #facbe1;
$color-pink-20: #faa3cd;
$color-pink-30: #f98abf;
$color-pink-40: #f772b2;
$color-pink-50: #f65aa5;
$color-pink-60: #f54298;
$color-pink-70: #f32a8b;
$color-pink-80: #f2117d;
$color-pink-90: #d70a6c;

// line-height
$line-height-default: 1.5;
$line-height-head: 1.4;
$line-height-button: 1;

// letter spacing
$letter-spacing-default: -0.02em;

// margin
$margin-mini: 8px;
$margin-small: 16px;
$margin-normal: 32px;
$margin-medium: 48px;
$margin-large: 80px;
$margin-x-large: 120px;
